

/* Header Section */

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;
    
    list-style: none;
    display: flex;
    line-height: 15px;
    background-color: #0c252d;

}

/* Church logo */
.logo {
    width: 40%;
    float: left;
    clear: both;
    border-radius: 50%;



    /*color codes from Canva logo: blue= #5271ff, orange= #ff914d, white= #ffffff */

}


/* Navigation links */
.nav {


    width: 40%;
    clear: both;
    display: flex;
    font-family: 'Merriweather', serif;
}

.nav a {
    text-decoration: none;
    color: #c3d1d6;
    padding-right: 75px;
    line-height: 50px;
}

.nav a:hover {
    text-decoration: underline;
}

/*Bible Verse */

#index-verse {

    width: 20%;
    float: left;
    margin: 60px auto;
    text-align: center;



    clear: both;
    font-family: 'Open Sans';
    color: #c3d1d6;
    font-weight: bold;
    font-size: large;
    line-height: 1.1;

}

/* Church Video and Greeting */

#church-vid {
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

.sub-heading {
    text-align: center;
    padding: 20px;
    font-family: 'Merriweather', serif;
    color: #0c252d;
}

/*About Us */

.about-us {
    margin: 0;
    padding: 0;
    height: 300px;
    width: 100%;

    display: flex;
    padding-top: 60px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: content-box;
    position: relative;

}

.about-us-text {
    width: 50%;
    height: 100%;
    float: left;
    font-weight: 400;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    color: #0c252d;
}




.about-us-img {
    margin-top: 17px;
}




/* Service Times & Location */

.service-times {
    position: relative;
    margin-top: 20px;
    margin: 0 auto;
    height: 200px;
    width: 600px;
    text-align: center;


}

.wednesday {
    width: 150px;
    height: 150px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #c3d1d6;
    background-color: #0c252d;
    color: #c3d1d6;
    line-height: 30px;
}

.friday {
    width: 150px;
    height: 150px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #c3d1d6;
    background-color: #0c252d;
    color: #c3d1d6;
    line-height: 30px;
}

.sunday {
    width: 150px;
    height: 150px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #c3d1d6;
    background-color: #0c252d;
    color: #c3d1d6;
    line-height: 30px;
}

#address {
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: 'Open Sans';
    color: #0c252d;
    margin-top: 10px;

    text-decoration: none;
    text-decoration-style: none;
    margin-bottom: 60px;

}

#address a:hover {
    text-decoration: underline;
}

/* Prayer, App and Social Media section */

.prayer-app {
    margin: 20px
    padding: 20px
    display: flex;
    font-family: 'Merriweather';
    color: #0c252d;;
}

.prayer {
    margin-bottom: 60px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}

.app {
    padding: 20px;
    box-sizing: border-box;
    float: right;
}



.icon:hover {
    text-transform: uppercase;
}

/* Footer */

footer {
    display: flex;
    margin: 0;
    padding: 0;
   position: fixed;
    bottom: 0;
    width: 1250px;
background-color: #0c252d;
    color: #c3d1d6;
    font-family: 'Open Sans';
}

