* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/* Header Section */

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    line-height: 15px;
    background-color: #0c252d;
}

/* Church logo */

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-style {
    border-radius: 50%;
    height: 50%;
    width: 50%;
}

/* Navigation links */

.nav {
    width: 33.33%;
    clear: both;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    font-family: 'Merriweather', serif;
}

.nav-style {
    display: flex;
}

li {
    margin-right: 50px;
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    color: #c3d1d6;
    line-height: 50px;
}

.nav a:hover {
    text-decoration: underline;
}

/*Bible Verse */

#index-verse {
    width: 33.33%;
    float: left;
    margin: 60px auto;
    text-align: center;
    clear: both;
    font-family: 'Open Sans';
    color: #c3d1d6;
    font-weight: bold;
    font-size: large;
    line-height: 1.1;
}

/* Church Video and Greeting */

#church-vid {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 400px;
    width: 75%;
    padding-bottom: 10px;
}

.sub-heading {
    text-align: center;
    padding: 20px;
    padding-bottom: 40px;
    font-family: 'Merriweather', serif;
    color: #0c252d;
}

/*About Us */

.about-us {
    height: 100%;
    width: 100%;
    display: flex;
    padding-left: 20px;
    padding-top:60px;
    padding-bottom: 60px;
    align-items: center;
    justify-content: center;
}

.about-us-text {
    width: 50%;
    height: 100%;
    font-weight: 400;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0c252d;
}

.about-us-img {
    display: flex;
}

/* Service Times & Location */

.service-times {
    margin-top: 20px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.stl-pos {
    height: 150px;
    width: 75%;
    margin: 0 auto;
    display: flex;
}

.wednesday {
    width: 150px;
    height: 150px;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #c3d1d6;
    background-color: #0c252d;
    color: #c3d1d6;
    line-height: 30px;
}

.friday {
    width: 150px;
    height: 150px;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #c3d1d6;
    background-color: #0c252d;
    color: #c3d1d6;
    line-height: 30px;
}

.sunday {
    width: 150px;
    height: 150px;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #c3d1d6;
    background-color: #0c252d;
    color: #c3d1d6;
    line-height: 30px;
}

#address {
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: 'Open Sans';
    color: #0c252d;
    margin-top: 10px;
    text-decoration: none;
    margin-bottom: 60px;
}

#address a:hover {
    text-decoration: underline;
}

/* Prayer, App and Social Media section */

.prayer-app {
    display: flex;
    font-family: 'Merriweather';
    color: #0c252d;
    justify-content: space-around;
}

.prayer {
    margin-bottom: 60px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}

#name {
    border:2px solid #0c252d;
}

#email {
    border:2px solid #0c252d;
}

#prayer-request {
    border:2px solid #0c252d;
}

#submit {
    border:2px solid #0c252d;
}

#prayer-reply {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #0c252d;
}

.app {
    padding: 20px;
    box-sizing: border-box;
    float: right;
}

.icon:hover {
    text-transform: uppercase;
}

/* Footer */

footer {
    display: flex;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-evenly;
    background-color: #0c252d;
    color: #c3d1d6;
    font-family: 'Open Sans';
}

/* Donations Page */

.donation {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 60px;
}

#thank-you-img {
    width:100%;
    height:200px;
}

/* Thank you page */

#thank-you {
    text-align: center;
}

/* Media Queries */

@media screen and (max-width:1200px) {
    .container {
        width: 100%;
        height: 200px;
    }

    .logo {
        float: left;
        width: 100%;
        height: 200px;
    }

    .nav {
        float: right;
        width: 100%;
        height: 200px;
    }

    .index-verse {
        position: absolute;
        width: 100%;
        height: 200px;
        clear: both;
    }

    .about-us {
        width: 100%;
    }

    .about-us-img {
        width: 100%;
    }
}

@media screen and (max-width:1100px) {
#index-verse {
    padding-top: 40px;
}
}

@media screen and (max-width:905px) {
    .nav-style {
        flex-direction: column;
    }
}

@media screen and (max-width:1000px) {
    .about-us {
        flex-direction: column;
    }

    .about-us-text {
        width: 100%;
    }

    .about-us-img {
        margin-bottom: 60px;
    }

    #prayer-reply {
        margin-bottom: 80px;
    }
}

@media screen and (max-width:870px) {
    #index-verse {
        display: none;
    }
}

@media screen and (max-width:800px) {
    footer {
        flex-direction: column;
    }

    #thank-you {
        margin-bottom: 60px;
    }
}

@media  screen and (max-width:750px) {
    .nav {
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width:680px) {
    .prayer-app {
        flex-direction: column;
    }

    .app {
        margin-bottom: 60px;
    }
}

@media screen and (max-width:600px){

.nav {
    margin-right: 150px;
}

    .service-times {
            flex-direction: column;
    }

    .prayer-app {
        flex-direction: column;
    }

    .app {
        margin-bottom: 60px;
    }
    
    .img-style {
        display: none;
    }
}
@media screen and (max-width:410px) {
    .nav {
        margin-right: 65px;
    }
}
@media screen and (max-width:400px) {
    .app {
        margin-bottom: 60px;
    }
    
    .footer {
        flex-direction: column;
    }
}

@media screen and (max-width:320px) {
    margin-right: 55px;
}